<div class="container">

  <h3>{{ contact.name }}</h3>

  <dl class="list">
    <dt>Email</dt>
    <dd>{{ contact.email }}</dd>
    <dt>Phone</dt>
    <dd>{{ contact.phone }}</dd>
  </dl>

  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/contact-edit', contact.id]" class="btn btn-success">Edit</a>
      <a [routerLink]="['/contact']" class="btn btn-warning">Back</a>
      <button class="btn btn-danger" type="button" (click)="deleteContact(contact.id)">Delete</button>
    </div>
  </div>

  <div>
    <dl>
      <dt class="subnote">ID: {{ contact.id }}</dt>
    </dl>
  </div>

</div>

